#file-upload{
    display: none;
}

.canvas-container canvas{
    max-width: 100%;
    /* display: none; */
}

.hidden{
    opacity: 0;
    display: none;
}
.show{
    opacity: 1;
}
.wait{
    font-size: 3em;
    transition: all 300ms ease-out;
}